# Application
public/app/plugins/*
!public/app/plugins/.gitkeep
public/app/mu-plugins/*/
public/app/upgrade
public/app/uploads/*
!public/app/uploads/.gitkeep

# WordPress
public/wp
public/.htaccess

# Logs
*.log

# Dotenv
.env
.env.*
!.env.example

# Composer
vendor

# WP-CLI
wp-cli.local.yml

# PHPStorm
.idea

# vscode
.vscode

# OS specific files
.DS_Store

# Packages
node_modules
